.jobs-container {
  background-color: #000000;
  height: 88%;
  overflow: auto;
}

.main {
  height: 100vh;
}

.bottom-section {
  display: flex;
  padding: 20px;
  height: 100%;
}

.profile-container {
  width: 100%px;
  display: flex;
  height: 220px;
  justify-content: center;
  align-items: center;
}
.profile-section {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  padding: 20px;
  height: 100%;
  width: 100%;
  border-radius: 30px;
}

.left-side {
  margin-right: 10px;
  width: 25%;
}

.profile-logo {
  width: 50px;
}

.name {
  color: #6366f1;
  font-size: 22px;
  margin: 0px;
}
.category-heading {
  color: #ffffff;
  font-size: 20px;
}

.categories {
  color: #ffffff;
  list-style-type: none;
  padding-left: 0px;
}

.line {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.label {
  margin-left: 7px;
  font-size: 13px;
}
.right-side {
  height: 100%;
  margin-left: 20px;
  width: 75%;
}

.job-list {
  list-style-type: none;
  padding-left: 0px;
  background-size: cover;
  margin: 0px;
  height: 100%;
  padding-left: 0px;
}

.search-input {
  background-color: transparent;
  border: none;
  outline: none;
  flex-grow: 1;
  color: #ffffff;
}

.search {
  width: 350px;
  background-color: transparent;
  border: 1px solid #7e858e;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  align-items: center;
  color: #ffffff;
  margin-bottom: 20px;
}

.search-small {
  width: 100%;
  background-color: transparent;
  border: 1px solid #7e858e;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  align-items: center;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .search-small {
    display: none;
  }
}

.hr-line {
  margin-top: 20px;
}

.search-btn {
  background-color: transparent;
  border: none;
  background-color: #272727;
  height: 30px;
  width: 55px;
}

.search-icon {
  color: #ffffff;
  border-left-width: none;
  font-size: 20px;
}

.loader-container {
  text-align: center;
  padding-top: 30px;
}

.loader {
  text-align: center;
  padding-top: 200px;
}

.result {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-jobs-container {
  padding-top: 20px;
}

.no-jobs {
  width: 450px;
}

.no-jobs-text {
  text-align: center;
  padding-left: 50px;
}

.no-jobs-heading {
  font-size: 40px;
  color: #ffffff;
  padding: 0px;
  margin: 0px;
}

.no-jobs-para {
  font-size: 13px;
  color: #f1f5f9;
}

.failure {
  text-align: center;
  color: #ffffff;
}

.failure-img {
  height: 350px;
}

.failure-heading {
  color: #f1f5f9;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.failure-para {
  color: #cbd5e1;
  margin-top: 8px;
}

.retry-btn {
  background-color: #4f46e5;
  width: 72px;
  height: 31px;
  font-size: 12px;
  color: #ffffff;
  border-radius: 5px;
  border: none;
}

@media screen and (max-width: 768px) {
  .left-side {
    width: 100%;
  }

  .right-side {
    width: 100%;
    margin-left: 0px;
  }

  .search {
    display: none;
  }

  .no-jobs {
    width: 300px;
  }

  .no-jobs-container {
    padding-top: 4px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .no-jobs-text {
    padding-left: 15px;
    width: 50%;
  }

  .no-jobs-heading {
    font-size: 20px;
  }

  .no-jobs-para {
    font-size: 11px;
  }

  .loader {
    padding-top: 30px;
  }

  .failure {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }

  .failure-img {
    width: 90%;
    height: 75%;
  }

  .failure-heading {
    font-size: 18px;
  }

  .failure-para {
    font-size: 17px;
  }

  .bottom-section {
    flex-direction: column;
  }

  .failure-text {
    width: 85%;
  }
}
